@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dati Personali";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center mb-4">@ViewData["Title"]</h3>
            <p>Il tuo account possiede dati personali che ci hai fornito. Qui puoi decidere se scaricarli o eliminare l'account.</p>
            <p><strong>L'eliminazione di questi dati rimuoverà definitivamente il tuo account e questo non può essere recuperato.</strong></p>

            <div class="text-center mb-3">
                <!-- Modificato mb-2 a mb-3 per aggiungere più spazio tra i bottoni -->
                <form id="download-data" asp-page="DownloadPersonalData" method="post">
                    <button class="btn btn-outline-primary w-100" type="submit">Scarica</button>
                </form>
            </div>
            <div class="text-center">
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-outline-danger w-100">Elimina</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
