@model MenuRestaurantWebAPP.MVC.PortataViewModels.PortataDeletePortataViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Elimina Portata";
}

<html>
<body>
    <h2></h2>
    <div class="container">
        <h2 class="text-center">SEI SICURO DI VOLER CANCELLARE LA PORTATA "@Model.Portata.Tipologia"?</h2>
        <p></p>
        <div class="d-grid gap-2 col-6 mx-auto text-center">
            <form method="post" asp-controller="Portata" asp-action="DeletedPortata">
                <button class="btn btn-outline-danger w-100 mt-3 mb-3" type="submit">SI</button>
                <input hidden readonly type="text" value="@Model.Portata.Tipologia" id="tipologia" name="tipologia" />
            </form>
            <form method="get" asp-controller="Home" asp-action="">
                <button class="btn btn-outline-success w-100 mt-3 mb-3" type="submit">NO</button>
            </form>
        </div>
    </div>
</body>
</html>